    .custom-card{
       border-radius: 10px;
   }
   .color{
       color: red;
   }
   .custom-card{
       display: flex;
       flex-wrap: wrap;
   }
   .custom-cards{
       width: 20%;
       border: .1px solid silver;

       margin: 10px;
       border-radius: 10px;
   }
   /* Responsive Website */
   @media(max-width: 992px){
       .custom-cards{
           width: 50%;
       }
   }
   @media(max-width:767px){
       .custom-cards{
           width: 50%;
       }
   }@media(max-width:576px){
       .custom-cards{
           width: 100%;
       }
   }

   .form-group{
       width: 100%
   }
   .name{
       color: silver;
   }
   .black{
       background: black;
   }
   .navigation{
       height: 50px
   }
   .red{
       color: red
   }.green{
        color: lawngreen
    }
.logo{
    border-radius: 50%;
}
.bottom{
    box-shadow: 1px 1px 10px black;
}



















