{{#partial "content"}}
    <div class="container">
        <h5>Name ~ {{animal.name}}</h5>
        {{#if animal.sightings}}
            {{#each animal.sightings}}
                <hr>
                <p>Location Sighted: {{location}}</p>
                <hr>
                <p>Ranger Name: {{ranger}}</p>
                <hr>
            {{/each}}
        {{/if}}
    </div>

{{/partial}}

{{> layout.hbs}}


































































































